.sudokuTable {
    background-color: #E0E0E0;
    border: 1px solid #808080;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    /*box-sizing: border-box;*/
}

.sudokuGroup {
    border: 2px solid var(--foreground);
    /*box-sizing: border-box;*/
}

.sudokuCell {
    border: 1px solid var(--foreground);
    /*box-sizing: border-box;*/
}

@font-face {
    font-family: 'SudokuMinadoFont';
    src: url("/fonts/microsoft-minesweeper-sans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.sudokuInput {
    width: 100%;
    aspect-ratio: 1;
    border: none;
    text-align: center;
    font-size: 3rem;
    font-family: 'SudokuMinadoFont', sans-serif;
    box-sizing: border-box;
    border: 10px solid transparent;
}

.minesweeperfog {
    background-color: #C0C0C0;
    border: #E0E0E0 10px solid;
    border-style: outset;
}

.minesweeperclear {
    background-color: #E0E0E0;
}

.minesweepermine {
    color: #000000;
    background-color: #ff7f7f;
}

.minesweeper1 {
    color: #0200FB;
    background-color: #E0E0E0;
}
.minesweeper2 {
    color: #007F04;
    background-color: #E0E0E0;
}
.minesweeper3 {
    color: #FD0000;
    background-color: #E0E0E0;
}
.minesweeper4 {
    color: #010180;
    background-color: #E0E0E0;
}
.minesweeper5 {
    color: #7F0203;
    background-color: #E0E0E0;
}
.minesweeper6 {
    color: #02807A;
    background-color: #E0E0E0;
}
.minesweeper7 {
    color: #000000;
    background-color: #E0E0E0;
}
.minesweeper8 {
    color: #808080;
    background-color: #E0E0E0;
}