.sudokuTable {
    background-color: white;
    border: 1px solid var(--foreground);
    box-sizing: border-box;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

.sudokuGroup {
    border: 1px solid var(--foreground);
    box-sizing: border-box;
}

.sudokuCell {
    border: 1px solid var(--foreground);
    box-sizing: border-box;
}

.sudokuInput {
    width: 100%;
    aspect-ratio: 1;
    border: none;
    text-align: center;
    font-size: 1.5rem;
}